node_modules
dist

# ignore all build files except for the .desktop and PKGBUILD files
build/linux/arch/*
!build/linux/arch/PKGBUILD
!build/linux/arch/.SRCINFO
!build/linux/arch/tidal-hifi.desktop
!build/linux/arch/install.sh
*.css
*.css.map
!src/themes/**/**.css

# JetBrains IDE configuration
.idea
ts-dist/**
ts-dist
themes
