.collapsible {
  transition: .2s;
  display: grid;
  grid-template-rows: 1fr;
  opacity: 1;

  > * {
    overflow: hidden;
    min-height: 0;
  }

  &.hidden {
    display: grid !important;
    grid-template-rows: 0fr !important;
    opacity: 0;
  }
}
