.collapsible {
  transition: .2s;
  opacity: 1;

  // If for any reason the collapsible's height is set to wrong value,
  // this will ensure that the content is still accessible but no scrollbar is shown.
  overflow: auto;
  &::-webkit-scrollbar {
    width: 0;
  }

  &.hidden {
    display: block !important;
    opacity: 0;
  }
}
