@mixin drag($enabled: true) {
  @if $enabled {
    -webkit-app-region: drag;
  } @else {
    -webkit-app-region: no-drag;
  }
}

@mixin outline($from-child: false) {
  border: 3px solid var(--black-lighter);

  @if $from-child {
    &:has(:focus-visible) {
      box-shadow: 0 0 0 3px var(--white);
    }
  } @else {
    &:focus-visible {
      box-shadow: 0 0 0 3px var(--white);
    }
  }
}

@mixin common-input {
  @include outline;

  text-decoration: none;
  background-color: var(--black-lightest);
  border: none;
  border-radius: 7px;
  color: var(--white);
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  outline: none;
  padding: 7px 10px;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.15s;
  box-sizing: border-box;

  @media (max-width: 600px) {
    max-width: unset !important;
    width: 100%;
  }
}

@mixin option-card {
  background: var(--black-lighter);
  padding: 16px;
  border: 1px solid var(--black-lightest);
  border-radius: 16px;
}

// Common hover state for interactive elements
@mixin hover-lift {
  transition:
    border-color 0.2s ease-in-out,
    background-color 0.2s ease-in-out;

  &:hover {
    border-color: var(--grey-darkest);
  }
}

@mixin content-heading {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  color: var(--white);
}

@mixin content-description {
  margin: 0;
  color: var(--grey);
  font-size: 14px;
}
