name: Build CI

on:
  push:
    branches-ignore:
      - master
      - develop
jobs:
  build_on_linux:
    runs-on: ubuntu-latest
    steps:
      - name: Install libarchive-tools
        run: sudo apt-get install -y libarchive-tools
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: 16
      - run: npm install
      - run: npm run build

  build_on_mac:
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: 16
      - run: npm install
      - run: npm run build

  build_on_win:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: 16
      - run: npm install
      - run: npm run build
