name: Release CI
permissions:
  contents: read
on:
  push:
    branches:
      - master
      - develop
  workflow_dispatch:

jobs:
  build_on_linux:
    runs-on: ubuntu-latest
    steps:
      - name: update apt
        run: sudo apt-get update
      - name: Install libarchive-tools
        run: sudo apt-get install -y libarchive-tools
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: 24.12.0
      - run: npm install
      - run: npm run build
      - uses: actions/upload-artifact@master
        with:
          name: linux-builds
          path: dist/
